.gradient--Text {
    padding: 10px;
    background-size: 100%; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FFdeg--green {
    background-image: linear-gradient( 45deg, var( --ExtGreen), var( --LhtGreen));
}

.init--AppCurtain {
    position: fixed;
    z-index: 1000;
    background-color: var(--MainTxt);
    margin: unset;
    
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    overflow: hidden;
    transition: top ease-in-out 1s;
    /* transition: border-radius; */
}

.Utility--MoveUp {
    top: -100vh;
}

.hiddenLetter {
    opacity: 0;
}

.showletter.showLetter {
    opacity: 1;
}

h3 span {
    transition: opacity .3s ease-in;
}